services:
  minio:
    container_name: minio  
    image: minio/minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: ${minioLogin}
      MINIO_ROOT_PASSWORD: ${minioPass}
    command: server --console-address ":9001" /data
    

  schat:
    container_name: schat
    image: harb.logic24.ru/kolamba/chat:latest
    restart: always
    build: ./
    depends_on:
      - db
      - minio
    ports:
      - ${schatPort}:${schatPort}
    environment:
      PORT: ${schatPort}
      DB_HOST_ADDRESS: db
      DB_PORT: ${dbPort}
      DB_USERNAME: ${dbUser}
      DB_PASSWORD: ${dbPass}
      DB_SSL: ${db_use_ssl}
      DB_SK: ${db_sk_auth}
      STORAGEHOST: ${whiteIP}
      ACCESS_TOKEN_LIFE: 100
      REFRESH_TOKEN_LIFE: 200
      LOGLEVEL: ${logLevel}
      MAXLOGSTRING: ${maxLogString} 
  db:
    container_name: db
    restart: always
    ports:
      - ${dbPort}:${dbPort}
    environment:
      POSTGRES_USER: ${dbUser}
      POSTGRES_PASSWORD: ${dbPass}
      POSTGRES_DB: schat
    image: postgres:15-alpine
    volumes:
      - pg_data2:/var/lib/postgresql
      - ./init_db:/docker-entrypoint-initdb.d
    command:
      - 'postgres'
      - '-c'
      - 'port=${dbPort}'
  envoy:
    image: envoyproxy/envoy:dev-31a45b3fff48a7b3c36aec7204bea2c41456835c
    restart: always
    ports:
      - "4401:4401"
    entrypoint: /usr/local/bin/envoy -c /etc/envoy/envoy.yaml 
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    

volumes:
  minio_storage:
    
  pg_data2:
    
     
